/* COMMON */
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.back_lightgray{
    background-color: lightgray;

}

.wdt_100{
    width: 100%;
}

.flex{
    display:flex;
}

body{
    background-color: rgb(218,219,212);
}

/* /COMMON */

#container_app{
    position:relative;
    width: 100%;
    height: 100%;
}

#green_block{
    width: 100%;
    height: 150px;
    background-color:rgb(0, 150, 136);
}

#app{
    position:absolute;
    top: 5vh;
    left: 10vw;
    transform: translate(-10vw, -5vh);
    display:flex;
    width: 80vw;
    height: 90vh;
    margin: 5vh 10vw;
}

.img_header{
    width:50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 5px;
}

/* menù laterale */
#menu{
    width: 40%;
    height: 100%;
    background-color:white ;
}

#sender{
    display: flex;
    width: 100%;
    height: 75px;
    background-color:rgb(234,234,234);
    padding: 10px;
    justify-content: space-between;
}

.name_sender{
    display: inline-block;
    font-weight: 700;
}

.left_sender,
.right_sender{
    display: flex;
    align-items: center;
}

.right_sender i{
    margin: 10px;
    color: gray;
    font-size: 20px;
}

/* ALERT */
#alert{
    background-color:rgb(142,218,252);
    padding: 15px;
    align-items: center;

}
#alert i{
    width: 50px;
    height:50px;
    margin-right: 15px;
    padding: 12px;
    border-radius: 50px;
    background-color: white;
    color:rgb(142,218,252);   
    font-size: 22px;
}

.link_alert{
    font-size: 14px;
    color: gray;
}

/*SEARCH BAR*/
#search_bar{
    background-color: rgb(243, 238, 234);
}

#search_bar input{
    margin: 7px;
    width: calc(100% - 14px);
    height: 30px;
    font-size: 12px;
    padding: 10px;
    background: url(../img/search-solid.svg) no-repeat scroll 7px 7px white;
    background-size: 2%;
    padding-left:30px;
    border: none;
}

/* MENU CHAT ATTIVE*/
.chat_active{
    background-color: white;
    list-style: none;
}

.chat_active a{
    padding: 10px 20px;
    cursor: pointer;
    justify-content: space-between;
}

.chat_active a:hover{
    padding: 10px 20px;
    background-color: lightgray;
}

.img_chat_active{
    height: 60px;
    border-radius: 50px;
}

.msg_chat_active{
    margin-left: 20px;
}

.name_user{
    font-size: 18px;
}

.preview_msg{
    font-size: 14px;
    color:gray;
}

.time_chat_active{
    font-size: 12px;
    color:gray;    
}

.chat_active hr{
    border: 1px solid lightgray;
}

/* /menù laterale */

/* view chat*/
#chat{
    width: 60%;
    height: 100%;
}

#header_chat{
    align-items: center;
    justify-content: space-between;
    background-color:rgb(234,234,234);
    width:100%;
    height: 75px;
    padding: 10px;
}

.user_chat_info{
    align-items: center;
}

.right_header{
    text-align:right;
}

.right_header i{
    margin-right: 10px;
    color: gray;
    font-size: 20px;
}

#main_chat{
    width: 100%;
    height: calc(100% - 125px);
    padding: 10px;
    background-image: url("../img/mine.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
}

.last_seen{
    color: gray;
    font-size:14px;
}

.message{
    margin: 10px;
    text-align: right;
    list-style: none;
    padding: 2px;
}

.sent{
    position: relative;
    text-align: left;
    display: inline-block;
    width: 40%;
    background-color:rgb(213,249,186);
    padding: 15px;
    border-radius: 15px;
}

.received{
    position: relative;
    text-align: left;
    background-color: white;
    width: 40%;
    padding: 15px;
    border-radius: 15px;
}

.time_message{
    position:absolute;
    right: 10px;
    bottom: 2px;
    text-align:right;
    font-size: 11px;
    color:lightgray;
    font-weight: 700;
    padding-top:5%;
}

#footer_chat{
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 238, 234);
    height: 50px;
    width:100%;
    justify-content: space-evenly;
}
    
#footer_chat input{
    width: 85%;
    height: 30px;
    margin: 10px;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;
}
